{% load static static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Cappuccino{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=yes">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css">
	{% comment %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/button.css' %}"> {% endcomment %}
	<script src="main.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		/* 
		##Device = Desktops
		##Screen = 1281px to higher resolution desktops
		*/

		@media (min-width: 1281px) {
		
		#microsoft-login{
			width:50%;
		}
		
		}

		/* 
		##Device = Laptops, Desktops
		##Screen = B/w 1025px to 1280px
		*/

		@media (min-width: 1025px) and (max-width: 1280px) {
		
		#microsoft-login{
			width:50%;
		}
		
		}
		.Cappuccino-masthead {
			background-color: #EEEEEE;
			margin-bottom: 1em;
		}

		.btn-circle {
			width: 30px;
			height: 30px;
			padding: 6px 0px;
			border-radius: 15px;
			text-align: center;
			font-size: 12px;
			line-height: 1.42857;
		}

		@media only screen and (min-width: 1025px) .btn-desk {
			color: #fff;
			max-width: 100px;
		}
		#div {
			width: 100%;
			height: 50%;
			
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			  
			margin: auto;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">

	<div class="container" id="div">

		<div class="text-center">
			{% comment %} <h4 style="font-family: sans-serif;font-size: 2rem;">Cappuccino</h4> {% endcomment %}
			<div>
				<img style="width:280px; height:80px;"
					src="{% static 'images/capp2.png' %}" alt="">
			</div>
			<div>
				<img style="width:136px; height:180px; margin-right: 0px;margin-bottom: 5px"
					src="{% static 'images/hiclipart.png' %}" alt="">
			</div>
		</div>

		{% comment %} <form method="post">
			{% csrf_token %}
			<div class="form-group">
				{% if form.username.errors %}
				{% for err in form.username.errors %}
				<p style="color:red;">{{err}}</p>
				{% endfor %}
				{% endif %}
			</div>

			<div class="form-group">
				{% if form.password.errors %}
				{% for err in form.password.errors %}
				<p style="color:red;">{{err}}</p>
				{% endfor %}
				{% endif %}
			</div>
			{{ form }}
			<div class="btn-desk text-center"><button class="btn btn-dark text-center container"
					style="margin:30px 0 30px 0;font-family: sans-serif;" type="submit">Login</button></div>
		</form>  {% endcomment %}
		<div class="text-center">
			<button style="color:#fff; background:#733c41;border:none;font-family: sans-serif;" id="microsoft-login"
				class="button btn container" type="button">
				<span class="icon is-small is-left">
					<i class="fab fa-microsoft"></i>
				</span>
				Login with Office 365
			</button>
		</div>
		<div style="display:none;" id='password-login'></div>

		<div class="mt-4 text-center">
			<p>Have feedback? <a href="http://listeningwall.staxsl.lk/"> go to ListeningWall.</a></p>
		</div>

		<script type="text/javascript" src={% static 'microsoft/js/login.js' %}></script>
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded",
				function (event) {
					window.microsoft.login = new window.microsoft.objects.LoginController({
						'authorization_url': '{{microsoft_authorization_url}}'
					});
				});
		</script>
		<script>
			document.getElementById('id_username').classList.add('form-control');
			document.getElementById('id_username').placeholder = 'Username';

			document.getElementById('id_password').classList.add('form-control');
			document.getElementById('id_password').placeholder = 'Password';

		</script>
	</div>
</body>