{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Cappuccino{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=yes">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        html{
          background: white;
        }
        body{
          background: white;
        }
        h4{
          font-family: "Noto Sans",sans-serif;
        }
        th{
          background-color: burlywood;
          border: none;
        } 
        h5{
          font-family: "Noto Sans",sans-serif;
        }
        .Cappuccino-masthead{
            background-color: #DCBDAC;
            margin-bottom: 1em;
        }
        .m-l{
          margin-left: 10px;
        }
				.btn-circle {
            float:right;
            margin-top:15px;
            {% comment %} margin-right:200px;
            margin-left:-200px; {% endcomment %}
						width: 20px;
						height: 20px;
						padding: 6px 0px;
						border-radius: 15px;
						text-align: center;
						font-size: 12px;
						line-height: 1.42857;
        }
        .calendar{
          border: none;
          background: #dcbdac;
          border-radius: 0.5em;
          text-align: center;
          color: #6d4040;
          font-weight: 700;
          padding: 5px;
          max-width: 200px;
        }
      /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
      */

      @media (min-width: 481px) and (max-width: 767px) {
        
        .legend{
          display: none;
        }
        
      }

      /* 
        ##Device = Most of the Smartphones Mobiles (Portrait)
        ##Screen = B/w 320px to 479px
      */

      @media (min-width: 320px) and (max-width: 480px) {
        
        .legend{
          font-family: "Noto Sans",sans-serif;
          display: none;
        }
        
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>

</head>
<script type="text/javascript" src= {% static 'css/script.js' %}></script>
<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; min-height: 800px; " >
    
    <div class="Cappuccino-masthead " >
        <div>
            <nav class="navbar">
              <div>
              <a class="" href="{% url 'ProjectList' %}" style="align-self: center">
                <img style="width:80px; height:80px; margin-right: 20px;margin-bottom: 5px" src="{% static 'images/hiclipart.png' %}" alt="logo">
              </a>
                </div>  
               <img style="width:200px; height:50px; margin-right: 20px;margin-bottom: 5px" src="{% static 'images/capp2.png' %}" alt="logo">
               
             </nav>
        </div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  {% if user_is_manager %}
                      <a class="navbar-brand" href="{% url 'ProjectList' %}" style="align-self: center">Active Projects</a>
                  {% elif user_is_member %}
                      <a class="navbar-brand" href="{% url 'index' %}" style="align-self: center">My Task</a>
                  {% endif %}
                </li>
              {% if user_is_manager %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'PersonList' %}">Team</a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'all_projects' %}">Project's History</a>
                </li>
                {% endif %}
                {% if user_is_manager %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'au' %}">Assign Leave</a>
                </li>
                {% endif %}
              </ul>
              <div ><hr>
              <h6 >{{ request.user }}
              <button style="margin-top: inherit;margin-left: 5px;" type="button" class="btn btn-primary btn-circle" disabled=disabled></button>
              </h6><hr>
              </div>
              <br>
              <a class="btn btn-dark ml-2" style="float: right;" href="{% url 'logout' %}">Logout</a>
            </div>
          </nav>
    </div>

  <!-- <div class="container text-center">
      <input placeholder="CALENDAR" class="calendar container" type="text" id="datepicker" style="cursor:pointer;">
  </div> -->
  {% if user_is_manager %}
  <div class="legend" style="min-width: 250px;min-height: 250px;float: left;margin-top: 6px;background: #f8f9fa;">
    <ul style="list-style: none;">
      Project <hr>
      <li><button style="margin-top: 7px;float: none;margin-left: -30px;margin-right: 10px;background-color: rgba(0, 93, 247, 0.43);border-color: rgba(0, 93, 247, 0.43);" type="button" class="btn btn-primary btn-sm" disabled=disabled></button>Project with tasks assigned by me</li>
      <li><button style="margin-top: 7px;float: none;margin-left: -30px;;margin-right: 10px;background-color: rgb(143, 148, 156);border-color: rgba(2, 2, 2, 0.43);" type="button" class="btn btn-primary btn-sm" disabled=disabled></button>Project with tasks assigned by others</li>
      <li><button style="margin-top: 7px;float: none;margin-left: -30px;margin-right: 10px;background-color: #95f15a;border-color: #7ec453;;" type="button" class="btn btn-primary btn-sm" disabled=disabled></button>Completed projects</li>
     <hr> People <hr>
      <li><button style="margin-top: inherit;float: none;margin-left: -30px;margin-right: 10px;" type="button" class="btn btn-primary btn-circle" disabled=disabled></button>Available</li>
      <li><button style="margin-top: inherit;float: none;margin-left: -30px;margin-right: 10px;" type="button" class="btn btn-warning btn-circle" disabled=disabled></button>Task assigned </li>
      <li><button style="margin-top: inherit;float: none;margin-left: -30px;margin-right: 10px;" type="button" class="btn btn-danger btn-circle" disabled=disabled></button>On leave</li>
    </ul>
  </div>
  {% endif %}
  <div class="container" style="background: none; font-family: sans-serif;">
      <div class="" style="margin-top: 20px;background: none;">
          <div class="row card" style="background-color: rgba(255, 255, 255, 0.4)">
              <div class="col-sm8 Cappuccino-main">
                  {% block main %}{% endblock %}
              </div>
              <div class="col-sm-3 offset-sm-1 Cappuccino-sidebar">
                  {% block sidebar %}{% endblock %}
              </div>
          </div>
      </div>
  </div>

</body>
</html>